@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --blue: hsl(34, 97%, 64%);
  --orange: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

*, *::after, *::before { padding: 0; margin: 0; }

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html { font-size: 62.5%; }

body {
  background-color: var(--very-light-gray);
}

.wrapper {
  margin: 3rem auto 0;
  width: 80%;
}

.clearfix { clear: both; }

header h2 {
  color: var(--grayish-blue);
  font-size: 3.25rem;
  font-weight: 200;
  text-align: center;
}

header h1 {
  color: var(--very-dark-blue);
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
}

header p {
  color: var(--grayish-blue);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4em;
  text-align: center;
  margin: 2rem auto 0;
  width: 40%;
}

section { margin-top: 2rem; }

.row { display: flex; flex-wrap: wrap; }

.col {
  flex: 0 0 31.33333%;
  height: 100%;
  margin: 1%;
  max-width: 31.333%;
}

section .box {
  background-color: #FFF;
  box-shadow: 0 .5rem 1rem rgba(204, 213, 218, 0.4);
  border-radius: .5rem;
  height: 22rem;
  margin-bottom: 5%;
  padding: 3rem 5rem 3rem 2rem;
  position: relative;
}

section .box h3 {
  color: var(--very-dark-blue);
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

section .box p {
  color: var(--grayish-blue);
  font-size: 1.5rem;
  line-height: 1.4em;
  margin-bottom: 2rem;
}

section .box img {
  bottom: 2rem;
  position: absolute;
  right: 2rem;
}

section .red { border-top: 4px solid var(--red); }
section .blue { border-top: 4px solid var(--blue); }
section .cyan { border-top: 4px solid var(--cyan); }
section .orange { border-top: 4px solid var(--orange); }

section .center { margin-top: 11.5rem; }

@media (max-width: 375px) {
  .wrapper { width: 90%; margin: 8rem auto; }

  header h2 { font-size: 2.9rem; }
  
  header h1 { font-size: 3rem; }
  
  header p { font-size: 1.9rem; width: 100%; }

  section { margin-top: 8rem; }
    
  .col {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
  
  section .box h3 {
    color: var(--very-dark-blue);
    margin-bottom: 1rem;
    font-size: 2.4rem;
  }
  
  section .box p {
    color: var(--grayish-blue);
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
  
  section .center {
    margin-top: 0;
  }
}